table {
    border-collapse: collapse;
    background-color: yellow;
    border: 1px dotted black;
    border-bottom-style: dashed;
    border-bottom-color: red;
    margin:auto;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-style: italic;
    font-variant: small-caps;
    color: red;
}

td {
    border: 1px dotted black;
}